@{
    ViewData["Title"] = "Locked out";
}

<div class="viewbox">
    <h2 class="title">@ViewData["Title"]</h2>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</div>
