@import url('site.min.css');
@import url('site.css');

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url('../images/hexagon-bg.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.footer {
    color: grey;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: black;
    text-align: center;
}

.icons {
    color: orange;
}

.download {
    height: 40px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

a:hover, a {
    text-decoration: none;
}

.mybtn {
    background-color: #EBA53D;
    border: 1px solid #EBA53D;
    color: black;
}

    .mybtn:hover {
        background-color: gray;
        border: 1px solid black;
        color: orange
    }

table {
    text-align: center;
    border: 0.7em solid orange;
    border-radius: 13px;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 0 0 4px #ffa500;
    background-color: gray;
    padding: 0.8em;
    width: auto;
}

.viewbox {
    border: 4px solid orange;
    border-radius: 13px;
    background-color: gray;
    padding: 0.8em;
    width: auto;
}

.footnote {
    color: orange;
    position: absolute;
}

.title {
    font-size: 60px;
    color: orange;
    text-shadow: 3px 3px 3px black
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.btn-primary {
    background-color: orange;
}

table, th {
    font-size: 1.3em;
    text-align: center;
}

.container1 {
    display: inline-block;
    cursor: pointer;
    max-width: 25px
}




.divbox {
    display: inline-block;
    text-align: center;
}
