@import url('site.min.css');
@import url('site.css');
body {
    background-image: url('../images/hexagon-bg.png');
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
table{
    text-align:center;
    border: 0.7em solid orange;
    background-color: gray;
    padding: 0.8em;
    width:auto;
}
.viewbox {
    border: 0.7em solid orange;
    background-color: gray;
    padding: 0.8em;
    width: auto;
}
.footnote{
    position: absolute;
    bottom: 0;
    color: orange;
}
.title{
    font-size:1.7em;
    color:orange;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.btn-primary{
    background-color:orange;
}

table, th{
    font-size: 1.3em;
    text-align: center;
}

.container1 {
    display: inline-block;
    cursor: pointer;
    max-width: 25px 
}

.glyphicon:hover {
    color: orange;
   
}
.glyphicon {
    height: 2em;
    width: 2em;
}


.divbox {
    float: left;
    display: inline-block;
    text-align: center;

}
