@model EnableAuthenticatorViewModel
@{
    ViewData["Title"] = "Enable authenticator";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div>
    <p>To use an authenticator app go through the following steps:</p>
    <ol class="list">
        <li>

            <h5>Download a two-factor authenticator app <strong>Microsoft Authenticator</strong> for:</h5>
            <ul style="list-style: none;">

               <li><a href="https://go.microsoft.com/fwlink/?Linkid=825071"><img src="https://assets.windowsphone.com/85864462-9c82-451e-9355-a3d5f874397a/English_get-it-from-MS_InvariantCulture_Default.png" alt="Get it from Microsoft" height="40p"></a></li><br />
               <li><a href="https://go.microsoft.com/fwlink/?Linkid=825072"><img src="https://designpieces.com/wp-content/uploads/2016/02/google-play-badge-300x89.png" alt="Get it on Google Play"  height="40"></a></li> <br />
               <li><a href="https://go.microsoft.com/fwlink/?Linkid=825073"><img src="https://designpieces.com/wp-content/uploads/2016/02/download-on-the-app-store.png" alt="Download on the App Store" height="40"></a></li>
            
            
            </ul>
                <br />
                <h5>Download a two-factor authenticator app <strong>Google Authenticator</strong> for:</h5>
                <ul style="list-style: none;">
                    <li><a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=e"><img src="https://designpieces.com/wp-content/uploads/2016/02/google-play-badge-300x89.png" alt="Get it on Google Play" height="40"></a></li><br />
                    <li><a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8"><img src="https://designpieces.com/wp-content/uploads/2016/02/download-on-the-app-store.png" alt="Download on the App Store" height="40"></a></li>
                </ul>
                <br />
</li>
        <li>
            <p>Scan the QR Code or enter this key <kbd>@Model.SharedKey</kbd> into your two factor authenticator app. Spaces and casing do not matter.</p>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                Once you have scanned the QR code or input the key above, your two factor authentication app will provide you
                with a unique code. Enter the code in the confirmation box below.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Code" class="control-label">Verification Code</label>
                            <input asp-for="Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Verify</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript" src="~/lib/qrcode.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>
}