@{
    ViewData["Title"] = "About";
}
<h2 class="title">About Us</h2>
<div class="viewbox">

    <p style="font-size: 1.5em;">This website was created to assist in helping the guards when patrolling, to record vehicle violations at any account where it is requierd 
        guards are able to download an app and send these violations to a database that LP can view as well as account managers and supervisors. 
    </p>
</div>