@{
    ViewData["Title"] = "Contact";
}
<h2 class="title">Contact Us</h2>
<div class="viewbox">

    <div>

        <p style="font-size: 1.4em;">
            Depending on what site you are located at will determine which account manager you need to contact, if you have questions regarding a vehicle you can contact your immediate supervisor
            <br /> or you can send an email to your site's LP department, as well as your sites account manager.
        </p>

    </div>
    <contact style="font-size: 1.5em;">
        PHX6,3,9 John Doe: 1800-6849681
        <br /> PHX5, 7 Same Smith: 1800-687986
        <br /> TUS1 Jessie Jackson: 1800-648946541

    </contact>

    <address>
        Advance Security:
        2226 West Northern Avenue, Suite C-212
        Phoenix, AZ 85021
        Tel: 602-264-7213
    </address>
    <div>
        <h3>Send us an Email.</h3>
        <form class="divbox" method="POST" action="http://formspree.io/mikelawson114@gmail.com">
            <input class="form-control" type="email" name="email" placeholder="Your email">
            <br />
            <textarea class="form-control" name="message" placeholder="Your message" cols="50" rows="10"></textarea>
            <br />
            <button style="width: 75px" formtarget="_blank" class="form-control divbox" type="submit" value="Send">Send</button>
        </form>
    </div>
 
</div>

