@{
    ViewData["Title"] = "Contact";
}
<h2 class="title">Contact Us</h2>
<div class="viewbox">

<address>
    Only Microsoft Way<br />
    InYourDreams, MAC 98052-6399<br />
    Phone Number: 425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:SPVT99@gmail.com">SPVT99@gmail.com</a>
   
</address>
    </div>