@model SPVTMaster.Models.Cars



<h4>Cars</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateTimeStamp" class="control-label"></label>
                <input asp-for="DateTimeStamp" class="form-control" />
                <span asp-validation-for="DateTimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="licensePlate" class="control-label"></label>
                <input asp-for="licensePlate" class="form-control" />
                <span asp-validation-for="licensePlate" class="text-danger"></span>
            </div>
            @*THIS WAS ALL MIKE THIS MOTHER FUCKING BADASS*@
            <div class="form-group">
                <label asp-for="Violation" class="control-label"></label>
                <select asp-for="Violation" class="form-control" id="violation">
                    <option value="You must only park in 1 parking space at a time">You must only park in 1 parking space at a time</option>
                    <option value="You must only park in designated parking spaces">You must only park in designated parking spaces</option>
                    <option value="You must pull forward into a parking space. Do not pull through or back into any parking spaces">You must pull forward into a parking space. Do not pull through or back into any parking spaces</option>
                    <option value="You must have an Amazon-issued carpool sign in order to park in designated carpool spaces.">You must have an Amazon-issued carpool sign in order to park in designated carpool spaces.</option>
                    <option value="You must have a handicapped license plate, or current temporary placard in your front window in order to park in a handicapped parking spaces.">You must have a handicapped license plate, or current temporary placard in your front window in order to park in a handicapped parking spaces.</option>
                </select>
                <span asp-validation-for="Violation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

