@model SPVTMaster.Models.Cars

<h4>Cars</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateTimeStamp" class="control-label"></label>
                <input asp-for="DateTimeStamp" class="form-control" />
                <span asp-validation-for="DateTimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="licensePlate" class="control-label"></label>
                <input asp-for="licensePlate" class="form-control" />
                <span asp-validation-for="licensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Violation1" class="control-label"></label>
                <input asp-for="Violation1" class="form-control" />
                <span asp-validation-for="Violation1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Violation2" class="control-label"></label>
                <input asp-for="Violation2" class="form-control" />
                <span asp-validation-for="Violation2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Violation3" class="control-label"></label>
                <input asp-for="Violation3" class="form-control" />
                <span asp-validation-for="Violation3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Violation4" class="control-label"></label>
                <input asp-for="Violation4" class="form-control" />
                <span asp-validation-for="Violation4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Violation5" class="control-label"></label>
                <input asp-for="Violation5" class="form-control" />
                <span asp-validation-for="Violation5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
